.App {
  text-align: center;
}


header {
  background-color: #6690e4;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* align-items:baseline; */
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: rgb(211, 18, 18);
}
.navbar-nav {
  background-color: #d6d64e;
}
